.flexContainer {
    display: flex;
    margin: auto;
    width: 20%;
}

.textarea {
    display: block;
    overflow: hidden;
  }

  #btn {
    background-color:blue; /* Green */
    border : 4px solid #005365;
    border-radius: 10px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: -110px;
  }

  .but { 
    display: flex;
    flex-direction: row
  }

input[type=text] {
    height: 5%;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:lightsteelblue;
  border-radius: 10px;
  border : 4px solid #005365;
  color: #005365;

}

textarea {
  color: blue;
  background-color:WHITE;
  border : 4px solid #005365;
  border-radius: 10px;
  overflow-y: auto;
  word-wrap:break-word
}
